/* Footer */ 

footer {
    position: relative;
    background: nth($background-colors, 2);
    padding: 30px 10px 0 10px;
    height: 150vh;
    nav {
        height: 15%;
        @extend %footer-flex;
        justify-content: space-around;
        h5 {
            margin-bottom: 20px;
            font-size: 1.2rem;
        }
        .rrss {
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 30px;
            li {               
                a {
                    color: #fff;
                    font-size: 1rem;
                    text-decoration: none;
                    &:hover {
                        color: #fffc;
                        border-bottom: 1px solid #fffc;
                    }
                }
            }
        }

    }
    .newsletter {
        margin-top: 20px;
        height: 15%;
        @extend %footer-flex;
        justify-content: space-around;
        form {
            input {
                background-color: #333;
                color: #eee;
                height: 45px;
            }
            button {
                height: 45px;
                width: 45px;
            }
        }
    }
    .marcas {
        margin: 0;
        @extend %footer-flex;
        height: 60%;
        ul{
            height: 100%;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            li {
                img {
                    width: 100%;
                    height: 150px;
                    object-fit: scale-down;
                }
            }
        }
    }
    .copyright {
        padding-top: 10px;
        color: #fff;
        font-size: 1rem;
        p {
            margin: 0;
        }
    }
}